legacy-peer-deps=true
auto-install-peers=true
cache=/tmp/npm-cache
tmp=/tmp
registry=https://registry.npmjs.org/
fund=false
audit=false
prefer-offline=false
prefer-online=true
progress=false
loglevel=error
maxsockets=1
timeout=60000